@import "colors";

header#page-header {
  padding: 5px;
  color: $secondary-color;
  background: $primary-color;
  border-bottom: 5px solid darken($primary-color, 25%);
  h1{
    text-align: center;
    text-transform: uppercase;
  }
}

footer#page-footer {
  text-align: center;
  padding: 5px;
  color: #237CBE;
  background: #F0F0F0;
  border-top: 5px solid darken($secondary-color, 25%);
}

aside#sidebar {
  float: right;
  background: #F0F0F0;
  width: 200px;
}
